name: Deploy LetterBBS

on:
  push:
    branches:
      - main
      - v3.1-dev

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4.1.1

      - name: Install lftp
        run: sudo apt-get update && sudo apt-get install -y lftp

      # Deploy v3.0 (Main)
      - name: Deploy Main (v3.0)
        if: github.ref == 'refs/heads/main'
        env:
          FTP_SERVER: ${{ secrets.FTP_SERVER }}
          FTP_USER: ${{ secrets.FTP_USERNAME }}
          FTP_PASS: ${{ secrets.FTP_PASSWORD }}
        run: |
          lftp -e "
            set ssl:verify-certificate no;
            set ftp:list-options -a;
            open -u $FTP_USER,$FTP_PASS $FTP_SERVER;
            mirror -R -v --parallel=2 --exclude data/ --exclude upl/ ./patio/patio/ ./www/patio/;
            chmod 705 ./www/patio/patio.cgi;
            chmod 705 ./www/patio/admin.cgi;
            chmod 705 ./www/patio/regist.cgi;
            chmod 705 ./www/patio/init.cgi;
            chmod 705 ./www/patio/captcha.cgi;
            chmod 705 ./www/patio/check.cgi;
            chmod 705 ./www/patio/check_files.cgi;
            bye;
          "

      # Deploy v3.1 (Fox)
      - name: Deploy Fox (v3.1-dev)
        if: github.ref == 'refs/heads/v3.1-dev'
        env:
          FTP_SERVER: ${{ secrets.FTP_SERVER }}
          FTP_USER: ${{ secrets.FTP_USERNAME }}
          FTP_PASS: ${{ secrets.FTP_PASSWORD }}
        run: |
          lftp -e "
            set ssl:verify-certificate no;
            set ftp:list-options -a;
            open -u $FTP_USER,$FTP_PASS $FTP_SERVER;
            mirror -R -v --parallel=2 --exclude data/ --exclude upl/ ./patio/patio/ ./www/fox/patio/;
            chmod 705 ./www/fox/patio/patio.cgi;
            chmod 705 ./www/fox/patio/admin.cgi;
            chmod 705 ./www/fox/patio/regist.cgi;
            chmod 705 ./www/fox/patio/init.cgi;
            chmod 705 ./www/fox/patio/captcha.cgi;
            chmod 705 ./www/fox/patio/check.cgi;
            chmod 705 ./www/fox/patio/check_files.cgi;
            bye;
          "
