name: Deploy LetterBBS

on:
  push:
    branches:
      - main
      - v3.1-dev

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4

      # Deploy v3.0 (Main)
      - name: Deploy Main (v3.0)
        if: github.ref == 'refs/heads/main'
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          server-dir: ./www/patio/
          local-dir: ./patio/patio/
          port: 21
          protocol: ftp
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            data/**
            upl/**

      # Deploy v3.1 (Fox)
      - name: Deploy Fox (v3.1-dev)
        if: github.ref == 'refs/heads/v3.1-dev'
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          server-dir: ./www/fox/patio/
          local-dir: ./patio/patio/
          port: 21
          protocol: ftp
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            data/**
            upl/**
