name: Deploy LetterBBS

on:
  push:
    branches:
      - main
      - v3.1-dev

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4.1.1

      - name: Install lftp
        run: sudo apt-get update && sudo apt-get install -y lftp

      # Deploy v3.0 (Main)
      - name: Deploy Main (v3.0)
        if: github.ref == 'refs/heads/main'
        env:
          FTP_SERVER: ${{ secrets.FTP_SERVER }}
          FTP_USER: ${{ secrets.FTP_USERNAME }}
          FTP_PASS: ${{ secrets.FTP_PASSWORD }}
        run: |
          chmod 755 ./patio/patio/*.cgi
          chmod 777 ./patio/patio/data
          lftp -c "open -u $FTP_USER,$FTP_PASS $FTP_SERVER; set ssl:verify-certificate no; mirror -R -v --parallel=2 ./patio/patio/ ./www/patio/"

      # Deploy v3.1 (Fox)
      - name: Deploy Fox (v3.1-dev)
        if: github.ref == 'refs/heads/v3.1-dev'
        env:
          FTP_SERVER: ${{ secrets.FTP_SERVER }}
          FTP_USER: ${{ secrets.FTP_USERNAME }}
          FTP_PASS: ${{ secrets.FTP_PASSWORD }}
        run: |
          chmod 755 ./patio/patio/*.cgi
          chmod 777 ./patio/patio/data
          lftp -c "open -u $FTP_USER,$FTP_PASS $FTP_SERVER; set ssl:verify-certificate no; mirror -R -v --parallel=2 ./patio/patio/ ./www/fox/patio/"
